.add-template-container {
    width: 300px;
}

.add-template-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-icon {
    margin-right: 0.5rem;
}

.right-icon {
    margin-left: auto;
}

.category-item {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.category-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.add-icon {
    cursor: pointer;
}

.relative-container {
  position: relative;
}

.category-row {
  position: relative;
}

.condition-dropdown {
    background-color: yellow;
  position: absolute;
  top: 0;
  right: -201px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  z-index: 10;
  width: 200px;
  border-radius: 4px;
}
.add-template-wrapper {
    position: relative;
}

.dropdown-button-wrapper {
    display: inline-block;
    position: relative;
}

.template-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}