.table-container {
    overflow-x: auto;
}
.table-container {
    width: 100%;
}

lightning-datatable {
    width: 100%;
}

.table-scroll {
    overflow-x: auto;
    width: 100%;
    margin-top: 1rem;
     max-height: 300px;
}
table{
    height: 200px;
}

table.slds-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f7faff; /* light bluish background */
    border: 1px solid #dce4ec;
    border-radius: 6px;
    font-size: 0.75rem;
}

.slds-table th {
    background-color: #e3edf9; /* bluish header */
    color: #1a2e45;
    font-weight: 600;
    border: 1px solid #dce4ec;
    padding: 0.75rem;
    text-align: left;
}

.slds-table td {
    background-color: #ffffff;
    color: #1a1a1a;
    border: 1px solid #e3e8ee;
    padding: 0.65rem;
    vertical-align: middle;
}

.slds-table tr:hover {
    background-color: #e9f2fb; /* light hover effect */
}

lightning-icon {
    margin-right: 0.25rem;
    cursor: pointer;
}
.section {
    margin-bottom: 5rem;
}

.table-scroll {
    overflow-x: auto;
}
.slds-box {
    padding: 1rem;
}
.slds-table thead th {
    position: sticky;
    top: -3px;
    background: #f3f2f2; /* Match SLDS header background */
    z-index: 1;
}